# === Server Configuration ===
# You can change this freely
PORT=8000
# Choose your own secret
SESSION_SECRET=changeme

# === Database Configuration ===
# These MUST match the values created in create_db.sql
DB_HOST=localhost
DB_USER=subtrack_app
DB_NAME=subtrack
# You may keep the default password from create_db.sql,
# or change it in BOTH create_db.sql and your own .env file.
DB_PASSWORD=yourpassword